
@media (max-width: 768px) {
    .playbill-header {
        display: flex;
        flex-direction: column; 
        align-items: center;    
        justify-content: center;  
        padding: 20px 10px 15px;  
        flex-shrink: 0;         
        border-bottom: 4px solid #000; 
    }

    .playbill-logo {
        font-family: 'Oswald', sans-serif;
        font-weight: 700;      
        font-size: 16vw;        
        line-height: 0.8;       
        letter-spacing: -2px;
        margin-bottom: 8px;      
        width: 100%;          
        text-align: center;
    }

    .show-poster {
        height: 100%;
        flex-grow: 1;
        width: 100%;
        border-radius: 0;
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
        background-image: url('images/capa-mobile.svg'); 
        background-position: bottom center; 
    }

    .theatre-name {
        font-family: 'EB Garamond', serif;
        font-weight: 400 !important;
        font-size: 0.9rem;   
        text-transform: uppercase;    
        letter-spacing: 1px;
        color: #000;
        margin-top: 0;
        text-align: center;
        width: 100%;
    }

    .playbill-inside {
        padding: 1rem;
    }

    .act h2 {
        font-size: 2rem;
    }

    .cast-list {
        flex-direction: column;
        align-items: center;
    }
    
    .cast-member {
        flex-basis: 100%;
        max-width: 400px;
    }

    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .thanks-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    }
    .thanks-images img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        margin-bottom: 0; 
    }

    .thanks-note {
        font-size: 1.1rem;
    }
}

/* Celulares */
@media (max-width: 550px) {
    .playbill-cover {
        max-width: 100%;
        width: 100%;
        height: 90vh;
        margin: 0;
        border: none;
        box-shadow: none;
        display: flex;
        flex-direction: column;
    }

    .playbill-header {
        font-size: 0.7rem;
        padding: 8px 10px;
    }

    .timer-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 0.5rem;
    }

    .time-box {
        width: 100%;
        padding: 1rem 0.5rem;
        font-size: 0.9rem;
    }

    .time-box span {
        font-size: 1.8rem;
    }
    .timer-container .time-box:nth-child(1) { 
        grid-column: 1 / span 2;
    }
    .timer-container .time-box:nth-child(2) { 
        grid-column: 3 / span 2;
    }
    .timer-container .time-box:nth-child(3) {
        grid-column: 5 / span 2;
    }
    .timer-container .time-box:nth-child(4) { 
        grid-column: 2 / span 2;
    }
    .timer-container .time-box:nth-child(5) { 
        grid-column: 4 / span 2;
    }
    
    .lightbox-content {
        max-width: 90%;
    }
}